<div class="container">
  <div class="row">
    <div class="col">
      <h4>List Elements</h4>
      <ul class="list">
        <li (contextmenu)="onListClick($event)">List Element 1</li>
        <li (contextmenu)="onListClick($event)">List Element 2</li>
        <li (contextmenu)="onListClick($event)">List Element 3</li>
        <li (contextmenu)="onListClick($event)">List Element 4</li>
      </ul>
    </div>
    <div class="col">
      <table class="table" (contextmenu)="onTableClick($event)">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

      <div #contextMenu></div>
</div>
